POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

DATABASE_URL=

MONITORED_PORT=
SNIFFER_TIMEOUT=

HOST_PORT_FRONTEND=
HOST_PORT_BACKEND=
HOST_PORT_DB=
HOST_PORT_AGENT=

AGENT_URL=http://agent:9000
DOCKER_NETWORK=
PROVISION_MOCK=false

SERVER_PORT=5000
TLS_SERVER_HOSTNAME=serv
USE_TLS=true